@font-face {
  font-family: 'Sofia';
  src: url("../fonts/Sofia.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #777777;
  font-size: 13px;
}

input, button, textarea {
  outline: none;
}

button {
  background-color: #ffffff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  border-radius: 5px;
  font-family: 'Sofia';
  cursor: pointer;
}

header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  transition: 0.5s all;
}

#sidenav {
  width: 80%;
  height: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 67px;
  background-color: rgba(220, 174, 34, 0.98);
  z-index: 1;
}

#sidenav ul li {
  background-color: rgba(220, 174, 34, 1);
  padding: 30px;
}

#sidenav .nav a {
  color: #ffffff;
}

.active {
  display: none !important;
}

.header-fixed {
  background-color: #ffffff;
  position: fixed;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
}

.header-fixed .logo {
  margin-top: 0;
}

.header-fixed nav a {
  color: #e4b700;
}

.logo {
  margin-left: 50px;
  margin-top: 30px;
}

.logo img {
  display: inline;
}

.logo h2 {
  display: inline;
  color: #ffffff;
  font-size: 10px;
  text-transform: uppercase;
}

.mobile-menu {
  display: none;
}

.mobile-menu i {
  color: #e4b700;
}

nav {
  float: right;
  margin-right: 50px;
  margin-top: -25px;
}

nav ul li {
  display: inline;
  margin-right: 50px;
}

nav ul li:last-child {
  margin-right: 0;
}

#home {
  height: 90vh;
  background-color: #fbfbfb;
}

.home-title {
  margin-left: 50px;
  padding-top: 150px;
}

.home-title h1 {
  color: #000000;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: normal;
}

.home-title h1 span {
  font-size: 40px;
}

.home-title p {
  margin-bottom: 20px;
}

.image-title {
  display: flex;
  flex-direction: row;
}

.image-title img {
  width: 150px;
  margin-right: 20px;
}

.home-image {
  position: absolute;
  right: 50px;
  top: 100px;
}

.home-image img {
  width: 600px;
}

#about {
  height: 600px;
  background-color: #f2f2f2;
  padding: 50px;
}

.about-title {
  text-align: center;
}

.about-title h1 {
  color: #000000;
  font-size: 40px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
}

.about-title p {
  color: #000000;
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
}

.about {
  display: flex;
  flex-direction: row;
}

.about-image {
  width: 50%;
}

.about-image img {
  width: 100%;
}

.about-reasons {
  width: 50%;
}

.reasons-box {
  padding: 50px;
}

.reasons {
  width: 80%;
  background-color: rgba(228, 183, 0, 0.24);
  border-radius: 5px;
  padding: 15px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.reasons .icon {
  margin-right: 20px;
}

.reasons .icon img {
  width: 50px;
}

.reasons-text h1 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
}

.reasons-text p {
  font-size: 14px;
}

#invest {
  height: 500px;
  display: flex;
  flex-direction: row;
}

.invest-details {
  width: 50%;
  background-color: #e4b700;
  color: #ffffff;
}

.invest-details .details {
  padding: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.invest-details .details h1 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 40px;
  margin-bottom: 35px;
}

.invest-details .details p {
  font-family: 'Playfair Display', sans-serif;
  font-size: 18px;
  margin-bottom: 80px;
}

.invest-details .details ul li {
  font-size: 17px;
  font-weight: bold;
  list-style-type: none;
}

.invest-details .details ul li:before {
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: 30px;
  background-image: url(../images/shield.png);
  background-repeat: no-repeat;
  margin-right: 15px;
  margin-top: 5px;
}

.invest-image {
  width: 50%;
  background-image: url(../images/invest-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#suspended-mobile {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -200px;
}

#suspended-mobile img {
  width: 230px;
}

#partners {
  background-color: #ffffff;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  overflow: scroll;
  scroll-behavior: smooth;
}

.partners-inner {
  padding-top: 300px;
  display: inline-flex;
}

.partner-image {
  width: 150px;
  margin-right: 50px;
}

.partner-image img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.3s all;
}

.partner-image img:hover {
  filter: none;
}

#subscribe {
  background-color: #dcae22;
  padding: 50px;
  text-align: center;
}

#subscribe button {
  color: #dcae22;
}

.subscribe-text {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe-text h1 {
  font-size: 30px;
}

.subscribe-text p {
  font-size: 13px;
}

#team {
  background-color: #ffffff;
  padding: 50px;
}

.team-title {
  text-align: center;
}

.teams {
  margin-top: 50px;
}

.team-details {
  width: 30.8%;
  float: left;
  margin-right: 50px;
  text-align: center;
}

.team-details:nth-child(3) {
  margin-right: 0;
}

.team-details img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: grayscale(100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s all;
}

.team-details img:hover {
  filter: none;
}

.person-detail {
  text-align: center;
}

#download {
  background-color: #dcae22;
  padding: 50px;
  text-align: center;
}

.download-text {
  color: #ffffff;
  margin-bottom: 50px;
}

.download-text h1 {
  font-size: 40px;
  font-weight: bold;
}

.download-text p {
  font-size: 18px;
}

.download-button img {
  width: 150px;
}

#contact {
  background-color: #ffffff;
  background-image: url(../images/contactus-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  padding: 50px;
  text-align: center;
}

.contact-form {
  width: 500px;
  margin-top: 100px;
}

.contact-form input {
  width: 49%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #dcae22;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Sofia';
  padding-top: 5px;
  padding-bottom: 5px;
}

.contact-form textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #dcae22;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Sofia';
  resize: none;
}

.contact-form button {
  background-color: #dcae22;
  color: #ffffff;
}

footer {
  background-color: #ffffff;
  padding: 50px;
  color: #aaaaaa;
}

.footer-bars {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 100px;
}

.footer-bars .footer-about-warren {
  width: 60% !important;
}

.footer-bars .footer-about-warren {
  font-family: 'Playfair Display', sans-serif;
}

.footer-bars .bars {
  margin-right: 50px;
  width: 20%;
}

.footer-bars .bars h1 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-bars .bars li {
  list-style: none;
  font-size: 13px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
}

.footer-end {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
}

.clear {
  clear: both;
}

#faq-header {
  height: 400px;
  /* background-image: url(../images/faq.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #e4b700;
}

.faq-header-title {
  color: #000000;
  padding-top: 180px;
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
}

.faq-header-title h1 {
  font-size: 40px;
  letter-spacing: 10px;
}

.faq-header-title p {
  font-size: 14px;
}

#faq {
  background-color: #eeeeee;
  padding: 50px;
}

#faq ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: 'Rubik', sans-serif;
}

#faq ul li h3 {
  font-size: 16px;
  color: #777777;
}

#faq ul li .small-header {
  font-weight: bold;
  color: #777777;
}

.inner-wrapper {
  background-color: #ffffff;
  margin-top: -150px;
  padding: 50px;
}

.faq-inner-header {
  font-size: 30px !important;
  font-family: 'Playfair Display', sans-serif;
}

#faq ul li.attention p {
  line-height: 25px;
}
