@media (max-width: 1416px) {
  .team-details {
    width: 30.5%;
  }
}

@media (max-width: 1350px) {
  .team-details {
    width: 30.5%;
  }
}

@media (max-width: 1276px) {
  .team-details {
    width: 30.2%;
  }
}

@media (max-width: 1165px) {
  .team-details {
    width: 30%;
  }
}

@media (max-width: 1100px) {
  .team-details {
    width: 29.9%;
  }
}

@media (max-width: 1170px) {
  .team-details {
    width: 29.6%;
  }
}

@media (max-width: 995px) {
  .team-details {
    width: 29.4%;
  }
}

@media (max-width: 950px) {
  .team-details {
    width: 29.2%;
  }
}

@media (max-width: 907px) {
  .team-details {
    width: 29%;
  }
}

@media (max-width: 870px) {
  .mobile-menu {
    display: block;
    float: right;
    color: #FFFFFF;
    font-size: 25px;
    margin-top: -35px;
    margin-right: 30px;
  }

  .logo {
    margin-left: 50px;
  }

  .logo img {
    width: 80px;
  }

  nav {
    display: none;
  }

  .active {
    display: block !important;
  }

  .home-title {
    text-align: center;
    margin-left: 0;
    padding-top: 120px;
  }

  .download-button img {
    width: 120px;
  }

  .home-title h1 {
    font-size: 23px;
  }

  .home-image {
    right: 0;
    display: none;
  }

  .home-image img {
    width: 550px;
  }

  .image-title {
    display: inherit;
  }

  .team-details {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }

  #about {
    padding: 10px;
    height: auto;
  }

  .about {
    display: block;
  }

  .about-title h1 {
    font-size: 25px;
  }
  
  .about-title p {
    font-size: 13px;
  }

  .about-reasons {
    width: 100%;
  }
  
  .reasons-box {
    padding: 5px;
    margin-top: 30px;
  }

  .reasons {
    width: unset;
    margin-bottom: 20px;
  }

  .reasons-text h1 {
    font-size: 17px;
  }
  
  .reasons-text p {
    font-size: 12px;
  }

  #invest {
    display: inherit;
    height: auto;
  }

  .invest-details, .invest-image {
    width: 100%;
  }

  .invest-details .details {
    padding: 30px;
  }

  .invest-image {
    height: 500px;
  }

  .download-text h1 {
    font-size: 30px;
  }

  .download-text p {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .mobile-menu {
    display: block;
    float: right;
    color: #FFFFFF;
    font-size: 25px;
    margin-top: -27px;
    margin-right: 20px;
  }

  .logo {
    margin-left: 20px;
  }

  .logo img {
    width: 80px;
  }

  nav {
    display: none;
  }

  .active {
    display: block !important;
  }

  .home-image {
    right: 0;
  }

  .about-image {
    display: none;
  }

  #suspended-mobile {
    margin-top: -180px;
  }
  
  #suspended-mobile img {
    width: 200px;
  }

  .contact-form {
    width: 100%;
  }

  .team-details {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  
  .footer-bars {
    float: none;
    display: inherit;
    margin-top: 30px;
  }

  .footer-bars .bars {
    float: none;
    margin-left: 0;
    width: 100%;
    margin-bottom: 30px;
  }

  .footer-end {
    font-size: 12px;
  }

  .footer-bars .footer-about-warren {
    width: 100% !important;
  }

  #faq {
    padding: 30px;
  }

  #faq-header {
    height: 300px;
  }

  .faq-header-title {
    padding-top: 100px;
  }

  .faq-header-title h1 {
    font-size: 30px;
  }

  .inner-wrapper {
    margin-top: -100px;
    padding: 30px;
  }
}

@media (max-width: 650px) {
  .home-title h1 {
    font-size: 20px;
  }

  .home-image {
    top: 150px;
  }

  .home-image img {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .home-title h1 {
    font-size: 18px;
  }

  .home-image {
    top: 200px;
  }

  .home-image img {
    width: 400px;
  }
}

@media (max-width: 470px) {
  .home-title h1 {
    font-size: 18px;
  }

  .home-image {
    display: none;
  }
}
